/* Author */

.author {
  align-items: stretch;
  flex-grow: 1;
  min-height: 380px;
  margin-bottom: 30px;
  &:hover {
    transform: translateY(-5px);
  }
  @media only screen and (max-width: $mobile) {
    min-height: 280px;
  }
}

.author__inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
  background-color: $dark;
}

.author__title {
  font-size: 21px;
  a {
    color: $white;
    text-shadow: -2px 2px 1px rgba($dark, 0.6);
  }
  /* border-radius: 30px; */
  background: rgba($dark, 0.6);
  padding: 30px 0 30px;
  @media only screen and (max-width: $mobile) {
    /*margin: 5px 0 10px; */
    margin: 0px 0 0px;
    font-size: 18px;
    padding: 10px 0 10px;
  }
  margin-bottom: 0px;
  text-align: center;
}

.author__image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  background-color: $dark;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(#10111e, 0.6); */
    pointer-events: none;
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  @media only screen and (max-width: $tablet) {
    padding-top: 75%;
  }
  @media only screen and (max-width: $mobile) {
    padding-top: 80%;
  }
}

.author__content {
  z-index: 1;
  width: 100%;
  margin-top: auto;
  padding: 0 0 30px;

  @media only screen and (max-width: $mobile) {
    padding: 0 0 0;
  }
}

/* Event */
.event {
  align-items: stretch;
  flex-grow: 1;
  margin-bottom: 16px;
  &:hover {
    transform: translateY(-5px);
  }
/*
  @media only screen and (max-width: $mobile) {
    min-height: 280px;
  }
*/
}

.event__inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
  background-color: $dark;
}

.event__title {
  margin: 10px 0 5px;
  font-size: 21px;
  a {
    color: $white;
  }
  @media only screen and (max-width: $mobile) {
    margin: 5px 0 10px;
    font-size: 18px;
  }
}

.event__excerpt {
  margin-bottom: 5px;
  font-size: 15px;
  color: rgba($white, .6);
  @media only screen and (max-width: $mobile) {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 21px;
  }
}

.event__image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  background-color: $dark;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#10111e, 0.6);
    pointer-events: none;
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  @media only screen and (max-width: $tablet) {
    padding-top: 75%;
  }
  @media only screen and (max-width: $mobile) {
    padding-top: 80%;
  }
}

.event__content {
  z-index: 1;
  width: 100%;
  margin-top: auto;
  padding: 0 20px 5px;

  @media only screen and (max-width: $mobile) {
    padding: 20px;
  }
}

.event__meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: $white;
}

.event__date {
  font-size: 14px;
  color: $text-color;
  @media only screen and (max-width: $mobile) {
    display: none;
  }
}

/* Article */
.article {
  //align-items: stretch;
  //flex-grow: 1;
  min-height: 380px;
  margin-bottom: 30px;
  &:hover {
    transform: translateY(-5px);
  }

  @media only screen and (max-width: $mobile) {
    min-height: 280px;
  }
}

.article__inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
  background-color: $dark;

  .featured-post {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgba($white, 0.8);
    user-select: none;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-color: $brand-color $brand-color transparent transparent;
      border-style: solid;
      border-width: 29px;
    }
    i {
      position: relative;
    }
  }
}

.article__title {
  margin: 10px 0 15px;
  font-size: 24px;
  a {
    color: $white;
  }
  @media only screen and (max-width: $mobile) {
    margin: 5px 0 10px;
    font-size: 18px;
  }
}

.article__subtitle {
  margin: 0px 0 15px;
  font-size: 18px;
  a {
    color: $white;
  }
  @media only screen and (max-width: $mobile) {
    margin: 0px 0 10px;
    font-size: 16px;
  }
}

.article__excerpt {
  margin-bottom: 15px;
  font-size: 15px;
  color: rgba($white, .6);
  @media only screen and (max-width: $mobile) {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 21px;
  }
}

.article__image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  background-color: $dark;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#10111e, 0.6);
    pointer-events: none;
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }

  @media only screen and (max-width: $tablet) {
    padding-top: 75%;
  }
  @media only screen and (max-width: $mobile) {
    padding-top: 80%;
  }
}

.article__content {
  z-index: 1;
  width: 100%;
  margin-top: auto;
  padding: 0 30px 30px;

  @media only screen and (max-width: $mobile) {
    padding: 20px;
  }
}

.article__meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: $white;
}

.article-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.article-tags__box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
  .article__tag {
    height: 23px;
    padding: 0 10px;
    margin: 0 5px 5px 0;
    text-transform: uppercase;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 10px;
    line-height: 23px;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 30px;
    color: rgba($white, .9);
    background-color: $brand-color;
    &:hover {
      background-color: darken($gold, 5%);
    }
    &:last-child {
      margin-right: 0;
    }

    @media only screen and (max-width: $mobile) {
      height: 20px;
      line-height: 20px;
    }
  }
}

.article__date {
  font-size: 14px;
  color: $text-color;
  &::before {
    content: "";
    position: relative;
    bottom: 0.2rem;
    display: inline-block;
    height: 3px;
    width: 3px;
    margin: 0 .5rem 0 .5rem;
    border-radius: 50%;
    background-color: rgba($text-color, .8);
  }
  /*
  @media only screen and (max-width: $mobile) {
    display: none;
  }
  */
}

.article__author {
  display: flex;
  align-items: center;
  &-image {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 7px;
    border-radius: 50%;
    border: 1px solid rgba($white, .6);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $dark;
  }
  &-link {
    font-size: 14px;
    text-decoration: underline;
    color: $white;
    &:hover {
      color: $white;
    }
  }
  span {
    color: rgba($white, .8);
  }
}

/* Roman */
.roman {
  //align-items: stretch;
  //flex-grow: 1;
  min-height: 380px;
  margin-bottom: 30px;
  &:hover {
    transform: translateY(-5px);
  }

  //@media only screen and (max-width: $mobile) {
  //  min-height: 280px;
  //}
}

.roman__inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
  background-color: $dark;
}

.roman__image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  background-color: $dark;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-color: rgba(#10111e, 0.6);
    pointer-events: none;
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
  }
}

.roman__content {
  z-index: 1;
  width: 100%;
  margin-top: auto;
  padding: 0 30px 30px;

  @media only screen and (max-width: $mobile) {
    padding: 20px;
  }
}

.blog__section__title {
  text-align: center;
  font-family: $heading-font-family;
  font-size: 27px;
  margin: 0 0 10px;
  color: $white;
  @media only screen and (max-width: $mobile) {
    font-size: 43px;
    margin: 0 0 5px;
  }
}

.blog__separation {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.blog__separation__img {
  width: 20%;
  /*
  filter: invert(84%) sepia(19%) saturate(1673%) hue-rotate(330deg) brightness(103%) contrast(98%);
  */
  filter: invert(80%) sepia(29%) saturate(2500%) hue-rotate(332deg) brightness(96%) contrast(100%);
}
