<div class="col col-4 col-d-6 col-t-12 animate">
  {% assign num_events_shown = 0 %}
  {% assign curDate = site.time | date: '%s' %}
  {% for post in site.posts reversed %}
    {% if post.tags contains "Evenement" %}
      {% assign postStartDate = post.date | date: '%s' %}
      {% if postStartDate >= curDate %}
        {% assign num_events_shown = num_events_shown | plus:1 %}
        {% include event.html %}
        {% if num_events_shown >= 3 %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
