<!-- begin hero -->
<div class="container">
  <div class="row">
    <div class="col-banner col col-12">
      <section class="hero">
        <div class="hero__inner">

          <div class="hero__image">
              <img src="{{site.baseurl}}{{site.data.hero.images.background.desktop}}" class="hide-on-mobile" alt="{{site.data.hero.title}}">
              <img src="{{site.baseurl}}{{site.data.hero.images.background.mobile}}" class="only-on-mobile" alt="{{site.data.hero.title}}">
          </div> <!-- hero__image -->

          <div class="hero__content">
            <div class="container">
              <div class="row">
                <div class="col col-7 col-d-7 col-t-12 col-m-12" style="justify-content: center; align-items: center">
                  {% if site.data.hero.images.left %}
                  <img src="{{site.baseurl}}{{site.data.hero.images.left}}"/>
                  {% endif %}
                </div>
                <div class="col col-5 col-d-5 col-t-12 col-m-12">
                  {% if site.data.hero.images.left %}
                  <img class="hide-on-mobile" src="{{site.baseurl}}{{site.data.hero.images.right}}"/>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="hero__desc">
              <div class="container">
                <div class="row">
                  <div class="col col-10 col-m-12">
                    {% if site.data.hero.text %}
                    <span>{{ site.data.hero.text }}</span>
                    {% endif %}
                    {% if site.data.hero.button %}
                    <a class="button--hero" href="{{ site.data.hero.button.url }}">
                      {{ site.data.hero.button.text }}
                    </a>
                    {% endif %}
                  </div>
                  <div class="col col-2 hide-on-mobile">
                    {% if site.data.hero.editor_logo %}
                    <img src="{{ site.data.hero.editor_logo }}" />
                    {% endif %}
                  </div>
            </div>

          </div> <!-- hero_content -->
        </div> <!-- hero_inner -->
      </section>
    </div>
  </div>
</div>
<!-- begin hero -->
