<!-- begin hero -->
<div class="container">
  <div class="row">
    <div class="col-banner col col-12">
      <section class="hero">
        <div class="hero__inner">

          <div class="hero__image">
            <img src="{{site.baseurl}}{{site.data.hero.image}}" alt="{{site.data.hero.title}}">
          </div> <!-- hero__image -->

          <div class="hero__content">
            <div class="container">
              <div class="row">
                <div class="col col-7 col-d-7 col-t-12 col-m-12" style="justify-content: center; align-items: center">
                  <img src="{{site.baseurl}}{{site.data.hero.title_image}}"/>
                </div>
                <div class="col col-5 col-d-5 col-t-12 col-m-12">
                  <!-- TODO put secondary image here and make it disappear on mobiles -->
                </div>
              </div>
            </div>

            <div class="hero__desc">
              <span>En librairie le 12 Mars 2022!</span>
              <a class="button--hero" href="#">Découvrir...</a>
            </div>

          </div> <!-- hero_content -->
        </div> <!-- hero_inner -->
      </section>
    </div>
  </div>
</div>
<!-- begin hero -->
